{
  "extends": ["airbnb", "plugin:import/react"],
  "parser": "babel-eslint",
  "plugins": ["react", "react-hooks", "import", "jest"],
  "env": {
    "browser": true,
    "node": true,
    "jest/globals": true
  },
  "settings": {
    "import/parser": "babel-eslint",
    "import/ignore": ["node_modules"],
    "import/resolver": {
      "webpack": {
        "config": "./webpack.config.js"
      },
      "node": {
        "paths": ["./"],
        "extensions": [".js", ".jsx", ".ts", "tsx"]
      }
    },
    "react": {
      "pargma": "React",
      "version": "16.7"
    }
  },
  "globals": {
    "jest": true,
    "react_disableWarnings": true,
    "react_enableWarnings": true,
    "__NODE_ENV__": false,
    "__PROT__": false,
    "__DEV__": false,
    "__TEST__": false,
    "__PROD__": false,
    "__COVERAFE__": false
  },
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "indent": [1, 2, { "SwitchCase": 1 }],
    "import/extensions": [
      1,
      "always",
      {
        "js": "never",
        "jsx": "never",
        "json": "never",
        "ts": "never",
        "tsx": "never",
        ".tsx": "never"
      }
    ],
    "import/no-named-as-default": 0,
    "linebreak-style": [1, "unix"],
    "no-restricted-imports": [1, "lodash"],
    "no-restricted-globals": [2, "find"],
    "no-var": 0,
    "no-shadow": 1,
    "vars-on-top": 0,
    "consistent-return": 1,
    "no-unused-vars": [
      "erros",
      {
        "vars": "all",
        "args": "all",
        "ignoreRestSiblings": false,
        "argsIgnorePattern": "^nextProps|^nextState"
      }
    ]
  }
}
